/*
JHANDER03.CSS
*/
*{
    margin: 0px;
    box-sizing:border-box;
    font-family: Arial;
}
header, footer{
    background-color: black;
    color: white;
}
header{
    padding: 20px;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.derecha{
    background-color: orange;
    color: darkblue;
    padding: 20px 20px 50px 20px;
}
img{
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
}
nav{
    display: flex;
    flex-direction:row;
}
.izquierda{
    background-color: white;
    padding: 20px 20px 50px 20px;
}
.derecha, .izquierda{
    font-size: 15px;
}
body{
    background-color: orange;
}
span{
    font-weight: 700;
    font-size: 18px;
}
i{
    font-size: 20px;
}