/*
JHANDER06.CSS
*/
*{
    margin: 0px;
    box-sizing:border-box;
    font-family: Arial;
}
body{
    background-color:forestgreen;
}
h2{
    color: white;
    padding: 12px;
    text-shadow: 3px 3px 1px #000000;
    margin-bottom: 12px;
}
.blanco{
    background-color: white;
    padding: 10px;
    width: 35%;
    margin: auto;
    border-radius: 20px;
    border: 7px solid black;
    font-size: 15px;
}
.rojo{
    margin-top: 15px;
    background-color: indianred;
    color: white;
    border: 10px solid brown;
    width: 50%;
    font-size: 15px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.naranja{
    margin-top: 15px;
    font-size: 15px;
    padding: 10px;
    background-color:orange;
    color: white;
    border: 10px solid darkorange;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 50%;
    margin-left: 50%;
    margin-bottom: 15px;
}
.azul{
    background-color: #1919ba;
    font-size: 15px;
    color: white;
    padding: 10px;
    margin: auto;
    width: 35%;
    border: 4px dashed blue;
}